---
import SectionHeader from '../components/ui/SectionHeader.astro';
import type { CalendarEvent } from '../features/calendar/components/Calendar';
import Calendar from '../features/calendar/components/Calendar';
import Layout from './Layout.astro';

interface Props {
  title: string;
  description: string;
  events: CalendarEvent[];
}

const { title, description, events } = Astro.props;
---

<Layout title={title} description={description}>
  <section class="section">
    <SectionHeader title={title} description={description} />
    <div class="max-w-4xl mx-auto mt-8">
      <Calendar events={events} client:load />
    </div>
  </section>
</Layout>
